<div id="chapters">
  <% @chapters.each do |chapter| %>
    <div id="chapter_<%= chapter.id %>" class="draggable" data-id="<%=chapter.id%>">
      <p><%= chapter.title %></p>
    </div>
  <% end %>  
</div>

<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div id="chapter_container" class="droppable">
    <h2>Drop stuff here</h2>
    <% @book.chapters.each do |book_chapter| %>
      <div>
        <p><%= book_chapter.title %></p>
      </div>
    <% end %>
  </div>

    <%= f.hidden_field :id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
