<%= simple_form_for @series do |f| %>
  <% if @series.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@series.errors.count, "error") %> prohibited this series from being saved:</h2>

      <ul>
      <% @series.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, input_html: { class: "text_field"} %>
  <%= f.simple_fields_for :stories do |stories_form| %>
    <%= stories_form.input :title, input_html: { class: "text_field"} %>
    <%= stories_form.input :description, input_html: { class: "text_field"} %>
  <% end %>
  <%= f.button :submit %>
<% end %>
